@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Kanit&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

h1 {
  font-family: "Gloock";
  border: 1px solid;
  text-align: center;
  margin-top: 0px;
  margin-left: 0;
  margin-right: 0;
  background-color: bisque;
  padding: 10px
}

p {
  font-family: Kanit;
  padding: 5px;
  background-color: antiquewhite;
  border: 2px dashed black;
  border-radius: 2px 8px 2px 8px;
}

body {
  background-image: url(vinyl-shelf.jpg);
}

.image-button {
  display: block;
  background-size: cover;
  width: 120px;
  height: 120px;
}

#room-on-button {
  background-image: url("room-on-fire-cover.jpg");
}

#fazbear-button {
  background-image: url(three-cheers-for-sweet-revenge.png);
}

#radiohead-the-bends {
  background-image: url(radiohead-the-bends.png)
}

section {
  background-color: beige;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  height: 15vh;
  align-items: center;
  flex-wrap: wrap;
}