@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Kanit&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

h1 {
  border: 1px solid;
  text-align: center;
  margin-top: 0;
  background-color: bisque;
  padding: 5%
}

p {
  padding: 5px;
  border: 2px dashed coral;
  border-radius: 2px 8px 2px 8px;
}

a {
  display: inline-block;
  background-color: antiquewhite;
  text-decoration: none;
  padding: 5px;
  border: solid 1px black;
  border-radius: 100%;
  ;
}

body {
  background-color: rgb(19, 22, 22);
}

section {
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: brown;
}